Main {
	margin: 30px；
}


.loading{
	flex: 1 1 100px;
	font-size: 100px;
	//padding: 80px 80px;
	width: 700px;
	height: 100px;
}

@media screen and (max-width: 1024px) {
	.Weather {
		width: 50%;
		min-width: 350px;
		margin-top: 50px;
	}

}