.City{
	padding: 0 96px;
    padding-top: 16px;
    flex:1;

	p {
		font-size: 50px;
        margin: 0;   
	}

	&__form{
		position: relative;
		margin: 0;
		padding: 0;
		margin-top: 110px;
		text-align: center;

		&__input{
			background: transparent;
			color: hsla(0,0%,100%,.7);
			text-align: center;
			font-size: 1.3rem;
			width: 80%;
			border: none;
			border-bottom: solid 1px hsla(0,0%,100%,.7);
			outline: none;
		}
	}

}